<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Prediction Page</title>
</head>
<body>
<h1>Enter Data for Prediction:</h1>
<form action="/predict" method="POST">
    <input type="number" name="user_input1" placeholder="Weight">
    <input type="number" name="user_input2" placeholder="Length1">
    <input type="number" name="user_input3" placeholder="Length2">
    <input type="number" name="user_input4" placeholder="Length3">
    <input type="number" name="user_input5" placeholder="Height">
    <input type="number" name="user_input6" placeholder="Width">
    <button type="submit">Predict</button>
</form>
</body>
</html>
